venv/
raw_data/
dataset/
dataset_binary/
dataset_bone_type/
*.zip
*.keras
*.h5
__pycache__/
*.pyc
.ipynb_checkpoints/
Bone_fracture_classification.ipynb
train_model.py
train_binary.py
predict.py
app.py
outputs/removed_other_bones_quarantine/
venv/
